.main {
	padding: 50px 0;
}

.title {
	color: #222;
	font-size: 36px;
	margin-top: 50px;
}

.control {
	margin-top: 50px;
}

.colour-input {
	border: 3px solid #222;
	font-size: 24px;
	height: 60px;
	padding: 20px;
	text-align: center;
	width: 200px;
}

.colour-input:focus {
	border: 3px solid #999;
	outline: none;
}

#colour-card {
	background: #000000;
	border-radius: 100%;
	height: 200px;
	margin: 50px auto;
	width: 200px;
}

#colour-of-input,
#colour-of-output {
	width: 200px;
	height: 200px;
}

@media (min-device-width: 992px) {	
	.control {
		align-items: center;
		display: flex;		
	}
}