<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Colour Scheme Generator</title>
	<link rel="stylesheet" href="../styles/vars.css">
	<link rel="stylesheet" href="../styles/colourScheme.css">
</head>
<body>
	<div class="scheme-generator">
		<button class="generate primary-font" onClick="generateRandomColourScheme()">Generate Colour Scheme</button>

		<ul class="colour-scheme primary-font">
			<li class="colour">
				<div id="colour-1"></div>
			</li>
			<li class="colour">
				<div id="colour-2"></div>
			</li>
			<li class="colour">
				<div id="colour-3"></div>
			</li>
			<li class="colour">
				<div id="colour-4"></div>
			</li>
			<li class="colour">
				<div id="colour-5"></div>
			</li>
		</ul>
	</div>

	<script src="../js/src/colourScheme.js"></script>
</body>
</html>