<!DOCTYPE html>
<html>
	<head>
		<title>Opposite Colour</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- 		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script> -->
		<link rel="stylesheet" href="../styles/vars.css">
		<link rel="stylesheet" href="../styles/layout.css">
	</head>
	<body>
		<section class="opposite-colours">
			<h2>Input</h2>
			<input type="text" id="colour-input">

			<br>
			<br>
			<br>
			<button id="convert-button">Convert</button>
			<br>

			<h2>Output</h2>
			<input type="text" id="colour-ouptut">

			<div id="colour-of-input"></div>
			<div id="colour-of-output"></div>
		</section>

		<script src="../js/opposite.js"></script>
	</body>
</html>